<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Cadastre-se</h3>
        <form>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label" for="name">Nome</label>
                <input type="text" 
                        [(ngModel)]="usuario.name"
                        required
                        class="form-control"
                        name="name" 
                        id="name" 
                        placeholder="Nome">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label" for="sobrenome">Sobrenome</label>
                <input type="text"
                        [(ngModel)]="usuario.sobrenome"
                        required
                        class="form-control"
                        name="sobrenome" 
                        id="sobrenome" 
                        placeholder="Sobrenome">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label" for="cpf">CPF</label>
                <input type="text" 
                        [(ngModel)]="usuario.cpf"
                        required
                        class="form-control"
                        name="cpf" 
                        id="cpf" 
                        placeholder="CPF">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label" for="email">E-mail</label>
                <input type="email"
                        [(ngModel)]="usuario.email"
                        required
                        class="form-control"
                        name="email" 
                        id="email" 
                        placeholder="exemplo@exemplo.com">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label" for="Confirmeemail">Confirme seu E-mail</label>
                <input type="email"
                        required
                        class="form-control"
                        name="Confirmeemail" 
                        id="Confirmeemail" 
                        placeholder="exemplo@exemplo.com">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label" for="senha">Senha</label>
                <input type="password"
                        [(ngModel)]="usuario.password"
                        required
                        class="form-control"
                        name="password" 
                        id="senha" 
                        placeholder="Senha">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label" for="Confirmesenha">Confirme sua Senha</label>
                <input type="password"
                        required
                        class="form-control"
                        name="Confirmesenha" 
                        id="Confirmesenha" 
                        placeholder="Confirme sua Senha">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <button (click)="createUsuario()"
                class="btn btn-primary">
                    Cadastrar</button>
            </div>
        </form>
    </div>
</div>
