<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Resetar senha</h3>
        <form action="">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label class="form-label" for="Resetsenha">Informe seu e-mail de cadastro</label>
                <input type="email" 
                        ngModel
                        required
                        #email="ngModel" 
                        class="form-control"
                        name="Resetsenha" 
                        id="Resetsenha" 
                        placeholder="E-mail">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <button class="btn btn-primary">Enviar email de redifinição</button>
            </div>
        </form>
    </div>
</div>

