<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Login</h3>
        <form>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="email">E-mail</label>
                <input type="email"
                       [(ngModel)]="userLogin.email"
                        required
                        class="form-control"
                        name="email" 
                        id="email" 
                        placeholder="exemplo@exemplo.com">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="password">Senha</label>
                <input type="password"
                        [(ngModel)]="userLogin.password"
                        required
                        class="form-control"
                        name="password" 
                        id="password" 
                        placeholder="Nome">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <a [routerLink]="['/reset-passaword']">Esqueci minha senha</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <button (click)="submitLogin()"
                    type="submit"
                    class="btn btn-primary">Entrar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" 
                        height="16" fill="currentColor" 
                        class="bi bi-box-arrow-in-right" 
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                    </button>
            </div>
        </form>
    </div>
</div>
